{% extends "layout.html" %}

{% block content %}
  
  <div class="page-header">
    <h1>Welcome to Twitter.js, Nimit!</h1>
  </div>
  <div class="row">
    <div class="col-md-3">
      <img src="https://pbs.twimg.com/profile_images/2450268678/olxp11gnt09no2y2wpsh_normal.jpeg"><br>
      <b>Your Name</b><br>
      100 followers
    </div>
    <table><tbody id="tweet_table">
      <!-- display tweets here -->
      {% for tweet in tweets %}
      <tr>
        <td><img src="{{tweet.User.pictureUrl}}" height="50" width="50"></td>
        <td>
          <b><a href="/users/{{tweet.User.name}}">{{tweet.User.name}}</a></b>
          <br>
          <a href="/users/{{tweet.User.name}}/{{tweet.id}}">{{tweet.tweet}}</a>
        </td>
      </tr>
      {% endfor %}
    </tbody></table>
  </div>

    {% if showForm %}
      <form action="/submit" method="POST" class"form-control">
        <div class="form-group">
          <label for="name_field">Name:</label>
          <input name="name" type="text" id="name_field" class="form-control" />

          <label for="text_field">Text:</label>
          <input name="text" type="text" id="text_field" style="width: 350px;" class="form-control" />

          <button type="submit" class="btn btn-default">Submit</button>
        </div>
      </form>
    {% endif %}
    
{% endblock %}